
.header {
    background-color: $white;
    padding: 18px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid  rgba(217, 255, 245, 1);
    
      &__left {
        display: flex;
        position: relative;
        align-items: center;
        column-gap: 16px;
    }     
    
    &__button {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
        width: 40px;
        background-color:$hot-pink;
        background-repeat: no-repeat;
        background-position: center;
        border: 0;
        border-radius: 50%;
        transition: transform 0.3s ease-in-out;
        &:hover{transform: scale(1.05);}
    }

    &__burger-button{
        position: relative;
        display: flex;
        align-items: center;    
        column-gap: 16px; 
    }

    &__right{
        display: flex;
        column-gap: 20px; 
    }
    &__contact {
        display: none;
      }
    
      &__servise {
        display: flex;
        align-items: center;
        column-gap: 16px; 
    }



    @media screen and (min-width: 700px) {

        .header__contact {
            display: flex;
            -moz-column-gap: 16px;
            column-gap: 16px;
        }
        .header__contact::after {
            content: '';
            width: 2px;
            height: 40px;
            background: $silver;
        }
        .header__burger-button:after {
            content: '';
            width: 2px;
            height: 40px;
            background: $silver;
        }
        }
      

}   
@media screen and (min-width: 1366px) {
    .header{
        display: none;
    }
}