
body{
    background-color: $snow-white;
    font-family: 'TTLakesB', sans-serif;
    font-size: 16px;

}
.main{
    &__info{   
        display: flex;
        position: relative;
        justify-content: space-between;
        align-items: center;
        height: 78px;
    
       &::after {
        content: '';
        position: absolute;
        height: 32px;
        border-left: 4px solid #41f6d7;
        border-radius: 0 8px 8px 0;
        left: 0px;
        top: 23px;
    }

    
    }
    &__list_desktop{
        display: none;
    }
    &__service-item{
       
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    &__service-item:nth-child(1) {
        padding-right: 32px;
    }
    &__btn--info{
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 8px;
    }
    
    &__request{
        background-image:url('/img/grouprepair.svg');
    }
    &__status{
        background-image:url('/img/lupa.svg');
    }
    &__navigation::before{
        content: '';
        height: 100%;
        width: 24px;
        position: absolute;
        right: 0;
        z-index: 1000;
        background: linear-gradient(270deg, #f8f8f8 16.84%, rgba(248, 248, 248, 0) 100%);
    }
    .icon{
        display: block;
        width: 40px;
        height: 40px;
        background-color: $hot-pink;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 100%;
    }

}
    .container {
        max-width: 1660px;
        margin: 0 auto;
        padding: 0 16px;
        border-top: 1px solid  rgba(217, 255, 245, 1);
        
    }

@media screen and (min-width: 1120px) {
    .main__list_desktop {
        display: flex;
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
}