
.main__list {
    position: relative;
    display: flex;
    list-style-type: none;
    padding-left: 16px;
    overflow: auto;
  
    @media screen and (min-width: 768px) {
      padding-left: 24px;
    }
  
    @media screen and (min-width: 1120px) {
      flex-wrap: wrap;
      padding-bottom: 16px;;
    }
  
    &::-webkit-scrollbar { 
      width: 8px;
    }
  }
  
.main__navigation {
    position: relative;
   
  }
  
.list__item {
    border: 2px solid transparent;
    white-space: nowrap;
    padding: 8px 18px;
  
    &:hover,
    &.active {
        background-color: $white;
        border: 2px solid #b8ffec;
        border-radius: 6px;
    }
  }

  .item a {
    color:$dark-grey;
  }


