.type-technique{
    &__content{
        display: block;
        width: 100%;
        padding: 16px;      
        padding: 0 16px 16px 16px;
        overflow: hidden;
        @media (min-width: 768px) {
           
                padding: 0 8px 24px 24px;
            }
    &::before {
        content: '';
        position: absolute;
        height: 100%;
        width: 24px;
        right: 0;
        top: 0;
        z-index: 10;
        background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
    }
    }  
   
    &__list{
        @media screen and (min-width:768px) {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            column-gap: 8px;
            row-gap: 16px;
            margin-bottom: 24px; 
            overflow: hidden;
            
        }
        @media screen and (min-width:1366px) {
           grid-template-columns: repeat(4, 1fr);
            
        }
    }

    &__item{
        min-height: 160px;
        max-height: 160px;
        padding: 16px;

        // &--hidden{
        //     display: block;
        //     @media screen and (max-width:320px) {
        //         display: block;
        //     }
           
        // }

        &--active{
          display: none;
          @media screen and (max-width:768px) {
            display: block;
        }
          &.visible {
            display: grid; 
        }
    }
}
    &__all{
        display: none;
        
        
        
    @media (min-width: 768px) {
        display: flex;
        height: 24px;
        margin-top: 16px;
        gap: 8px;
        align-items: center;
        border: none;
        background-color: $snow-white;
    }
    }
    
   &__link{
     & span {
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        color: rgb(27, 28, 33);
        letter-spacing: -0.2px;

    }
    &:before{
        display: inline-block;
        position: absolute;
        bottom: 33px;
        left: 0;
        right: 0;
        margin: auto;
        margin-right: 35px;
        content: "";
        width: 7px;
        height: 7px;
        border-top: 2px solid #FF3E79;
        border-right: 2px solid #FF3E79;
        transform: rotate(45deg);
    }
    &:after{
    display: inline-block;
    position: absolute;
     bottom: 16px;
    left: 0;
    right: 0;
    margin: auto;
    margin-right: 16px;
    content: "";
    width: 40px;
    height: 40px;
    border: 2px solid #FF3E79;
    border-radius: 50%;  
    }
   }
}
.rotate {
    transform: rotate(180deg);
}
.visible{
    display: grid;
}
