
@font-face {
    font-family:"TTLakesR" ;
    src: url('/block7/src/fonts/TTLakes-Regular.woff') format("woff");
    font-display: swap;
    
}
@font-face {
    font-family:"TTLakesM" ;
    src: url('/block7/src/fonts/TTLakes-Medium.woff') format("woff");
    font-weight: 700;
    font-display: swap;
    
}
@font-face {
    font-family:"TTLakesB" ;
    src: url('/block7/src/fonts/TTLakes-Bold.woff') format("woff");
    font-display: swap;
}
