
body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, figure, figcaption, blockquote, dl, dd {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
* {
    box-sizing: border-box;
}
ul, ol {
    list-style: none;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

button {
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
}