
@font-face {
    font-family:"TTLakesR" ;
    src: url("./fonts/TTLakes-Regular.woff") format("woff");
    font-display: swap;
    
}
@font-face {
    font-family:"TTLakesM" ;
    src: url("./fonts/TTLakes-Medium.woff") format("woff");
    font-weight: 700;
    font-display: swap;
    
}@font-face {
    font-family:"TTLakesB" ;
    src: url("./fonts/TTLakes-Bold.woff") format("woff");
    font-display: swap;
}

body{
    font-family: "TTLakesR",sans-serif;
    font-size: 14px;
  
    background-color:#F8F8F8;
    margin: 0;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    background-color:white;
    padding: 24px 16px;
    margin-bottom: 24px;
    box-shadow: 0 1px 0px 0px #D9FFF5;
    
}

.header-menu-list{
    display: flex;
    list-style-type:none;
    padding: 0;
    column-gap: 16px;
   
}

.header-menu-link{
 display: inline-flex;   
 height: 40px;
 width: 40px;
text-decoration: none;

}

.header-menu-list li{
background-color: #FF3E79;
border-radius: 50%;
}
.header-menu-list li:hover {
background-color: #fa0a32;
transition-duration: 0.3s;
opacity: 1;
}

.item1{
    display: none;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    background-color:#FF3E79;
    background-image:url(svg/tel.svg);
    background-repeat: no-repeat;
    background-position: center;
    border: 0;
    border-radius: 50%;

}
.item2{
    display: none;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    background-color:#FF3E79;
    background-image:url(svg/mes.svg);
    background-repeat: no-repeat;
    background-position: center;
    border: 0;
    border-radius: 50%;

}

.item3{
    display: none;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    background-color:#FF3E79;
    background-image:url(svg/man.svg);
    background-repeat: no-repeat;
    background-position: center;
    border: 0;
    border-radius: 50%;

}
.item4{
        display: flex;
        height: 40px;
        width: 40px;
        background-color:#FF3E79;
        background-image:url(svg/key.svg);
        background-repeat: no-repeat;
        background-position: center;
        border: 0;
        border-radius: 50%;
    
}
.item5{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    background-color:#FF3E79;
    background-image:url(svg/lupa.svg);
    background-repeat: no-repeat;
    background-position: center;
    border: 0;
    border-radius: 50%;

}


.header-left{
    display: flex;
    align-items: center;
    column-gap: 16px;
}

.stick{
    display: flex;
    align-self: center;
    width: 2px;
    height: 32px;
    border-radius: 1px;
    background-color:#EAEAEA;
    margin-right: 4px;
}
.stick_left{
    display: none;
}
.header-burger-button{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    background-color:#FF3E79;
    background-image:url(svg/burger-icon.svg);
    background-repeat: no-repeat;
    background-position: center;
    border: 0;
    border-radius: 50%;
  }
  .header-burger-button:hover {
    background-color: #fa0a32;
    transition-duration: 0.3s;
     opacity: 1;
}



.services{
    display: flex;
    align-items: center;
   
    height: 40px;
    margin-bottom: 24px;
}
.services-stick{
    width:4px ;
    height: 40px;
    background-color:#41F6D7;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.services-text{
    display: flex;
    font-family: "TTLakesB";
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -0.6px;
    margin-left: 12px;
   }
   .services__right{
    display: flex;
   margin-left: auto; 
   margin-right: 16px;
}
.services__right_repair{
    display: none;
    justify-content: space-between;
    align-items: center;
}
.services__right_repair-button{
    height: 40px;
    width: 40px;
    background-color:#FF3E79;
    background-image:url(svg/key.svg);
    background-repeat: no-repeat;
    background-position: center;
    border: 0;
    border-radius: 50%;
    margin: 8px;  
}
.services__right_repair-button:hover {
    background-color: #fa0a32;
    transition-duration: 0.3s;
     opacity: 1;
}
.services__right_status{
    display: none;
    justify-content: space-between;
    align-items: center;
    margin-left: 24px;
}
.services__right_status-button{
    height: 40px;
    width: 40px;
    background-color:#FF3E79;
    background-image:url(svg/lupa.svg);
    background-repeat: no-repeat;
    background-position: center;
    border: 0;
    border-radius: 50%;
    margin: 8px;
}
.services__right-button-text{
    font-family: "TTLakesM",sans-serif;
    font-size: 16px;
    letter-spacing: -0.2px;  
}
  .services__right--button{
    display: flex;
    width: 150px;
    justify-content: center;
    font-family: "TTLakesM",sans-serif;
    font-size: 16px;
    letter-spacing: -0.2px;
   }
    
      
ul,li{
    padding: 0;
    margin: 0;
}

 .slider{
    display: flex;
    align-items: center;
    
    margin-left: 16px;
    margin-bottom: 24px;
    overflow-y: hidden;
  scroll-behavior: smooth;
      }  

.slider::-webkit-scrollbar { display: none }

.slider-slides-list{
    display: flex; 
  }

.slider-slides_button{
    display: flex;
    align-items: center;
    justify-content: center;
   }
   .button{
    display: flex;
    height: 36px;
    margin: 0;
    align-items: center;
    justify-content: center;
    font-family: "TTLakesM";
    font-size: 16px;
    letter-spacing: -0.2px;
    text-decoration: none;
    color:#7E7E82;
    background-color:#F8F8F8;
} 
.slider-slides_button0{
    width: 233px;
    height: 36px;   
}
 .slider-slides_button1{
     width: 242px;
     height: 36px;
}

 .slider-slides_button2{
    width: 211px;
    height: 36px;
}
.slider-slides_button3{
    width: 143px;
    height: 36px;
}
.slider-slides_button4{
    width: 233px;
    height: 36px;
    }
.slider-slides_button5{
    width: 191px;
    height: 36px;
    }
    .slider-slides_button6{
        width: 95px;
        height: 36px;
        }            
.active{
border:2px solid #B8FFEC;
    border-radius: 6px;
    background-color: #ffffff;
}
.link{
    text-decoration: none;}
.slider-sliders{
    position: relative;
}
 .services::after {
        content: "";
        position: absolute;
        top: 180px;
        right: 0;
        width: 24px; /* 1 */
        height:40px;
        background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #F8F8F8
        100%); /* 2 */
      }

.firstblock{
    display: flex;
    flex-wrap: wrap;
    margin:0px 16px 0px 16px ;

  }
  .firstblock__info{
    display:flex;
    flex-direction:column;
    }

   .firstblock__info-text{
    margin: 0;
    letter-spacing: 0.2px;
   }  
   .firstblock__info-text--hidden-s{
    display: none;
   }
   .firstblock__info-text--hidden-m{
    display: none;
   }
 .firstblock__readmore{
    display: flex;
    width: 132px;
    height: 24px;
    padding-left: 8px;
    margin: 16px 0px;
    justify-content: center;
    border-radius: 3px ;
   }

   .firstblock__readmore-button {
    display: flex; 
    width: 132px;
    align-items: center;
    text-decoration: none; 
    
     }
   

  .firstblock__readmore:hover {
    background-color: #fa0a32;
    transition-duration: 0.3s;
     opacity: 1;
  }
  .firstblock__readmore-text{
    display: flex;
    margin-left: 16px;
    justify-content: end;
    font-family: "TTLakesM",sans-serif;
    font-size: 16px;
    letter-spacing: -0.2px;
    color: #000000; 
   }
   .firstblock__readmore-text:visited {
    color: #000000; 
   }
   

   .img_cps{
    max-width:100%;  
    height: auto;  
  
   }

   @media(min-width:768px){
    .stick_left{
        display: flex;
    }
    .firstblock__info {
        max-width: 50%;
        overflow: hidden;
    }  
    .firstblock__info-text--hidden-s{
        display:block;
       }
     
    .img{
        max-width:50%; 
         }
    .img_cps {
        max-width: 100%; 
        height: auto;}
      .item1{
        display: flex;}
    .item2{
        display: flex;}
    .item3{
        display: flex;}
    
    .stick{
        margin-left: 4px;}
   }
   
   @media(min-width:1120px){
  .header{
    display: none;
  }
  .services{
    margin-top: 42px;
  }
    .firstblock__info-text--hidden-m{
    display: block;
    }
    .services__right_repair{
        display: flex;
    }
    .services__right_status{
        display: flex;
    }
    .slider-slides-list{
flex-wrap: wrap;
    }
    
    
   }