
@font-face {
    font-family:"TTLakesR" ;
    src: url("./") format("woff");
    font-weight: normal;
    font-style: normal;
    
}
@font-face {
    font-family:"TTLakesM" ;
    src: url("./fonts/TTLakes-Medium.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    
}@font-face {
    font-family:"TTLakesB" ;
    src: url("./fonts/TTLakes-Bold.woff") format("woff");
    font-weight: normal;
        font-style: normal;
}

p{padding: 0;
margin: 0;}

.footer__container{
    border-top: 1px solid #D9FFF5;
    padding: 16px 0;
    @media screen and (min-width: 700px) {
      padding: 16px 24px;
    }
    @media screen and (min-width: 1000px) {
      padding: 16px 32px;
    }
  
}
.container{
   max-width:1600px ;
   margin: 0 auto;
}

  .footer__content{
display: flex;
width: 100%;
flex-direction: column;
row-gap: 16px;

@media screen and (min-width :768px) {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    margin:0 ;
    }

    
}



  .footer__info{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;

    @media screen and (min-width: 710px) {
        max-width: 218px;
        text-align: left;
      }
    
      @media screen and (min-width: 1000px) {
        max-width: 330px;
        text-align: left;
      }

  }
  @media (min-width:768px){
    
    .footer__info--texttoright
        {@media screen and (min-width: 700px) {
              text-align: right;
            }
          
  }
}